body {
    background-color: white;
    margin-left: 20px;
    font-family: arial, sans-serif;
}

h1 {
    color: black;
    font-size: 20px;
}

#h1-div {
    background-color: #fcff4a;
}

#HC-main-container-div {
    position: relative;
    min-height: 100vh;
    padding-top:37px;
}
#HC-content-wrap {
    padding-bottom: 2.5rem;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: floralwhite;
}

#table-header {
    background-color: rgba(214, 212, 72, 0.43);
    /*border-top: 5px solid #af7d65;*/
}

.HC-tasks-col {
    width: 200px;
}

.HC-resources-col {
    width: 200px;
}

.HC-calendar-cell-pasive {
    background-color: white;
}

.HC-calendar-cell-active {
    background-color: red;
}

.HC-calendar-cell-inbetween {
    background-color: green;
}
.HC-time-scroll {
    overflow-x: auto;
    white-space: nowrap;
}
.HC-time-view {
    width: 500px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
}